<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="sendAddr" value="tcp://*:33333"/>
    <add key="sendHost" value="数据发送端"/>
    <!-- 表示10分钟的时间间隔 -->
    <add key="timeSpan" value="600000"/>
  </appSettings>
</configuration>
